<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    Note {{index+1}}
    <ion-button color="danger" (click)="Favorite()">
    <img
      src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_favorite_48px-512.png"
      style="width:20px; height:20px; color:white;" />
    </ion-button>
  </p>

  <table border="0">
    <tr>
      <td><label for="judulText">Judul</label></td>
      <td>: {{note[0]}}</td>
    </tr>
    <tr>
      <td><label for="isiText">Isi</label></td>
      <td>: {{note[1]}}</td>
    </tr>
    <tr>
      <td><label for="tanggalBro">Tanggal</label></td>
      <td>: {{note[2]}}</td>
    </tr>
  </table>
</ion-content>
