<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      <h2>Detail Note {{index+1}}</h2>
      <h1>{{note[0]}}</h1>
      <h3>{{note[2]}}</h3>
      <p>{{note[1]}}</p>
    </ion-label>
    <ion-button slot="end" color="danger" (click)="Favorite()">
      <img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_favorite_48px-512.png"
        style="width:20px; height:20p;"/>
    </ion-button>
  </ion-item>
</ion-content>
