<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Favorite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section *ngIf="fav.length <= 0">
    <ion-item>
      <ion-label>
        <h2>There are no favorite notes yet!</h2>
      </ion-label>
    </ion-item>
  </section>
  <section *ngIf="fav.length > 0">
    <ion-list>
      <ion-list-header>
        List Favorite Notes
      </ion-list-header>
      <div *ngFor="let item of fav; let i = index;">
        <ion-item>
          <ion-label>
            <h1>{{item[0]}}</h1>
            <h2>{{item[2]}}</h2>
            <p>{{item[1]}}</p>
          </ion-label>
          <ion-button slot="end" expand="block" color="success" (click)="Akses(i)">
            Akses<br>Note ini
          </ion-button>
        </ion-item>
      </div>
    </ion-list>
  </section>
</ion-content>
