<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Favorite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>LIST FAVORITE NOTES</p>
  <div *ngFor="let item of fav; let i = index;">
    <p><b>Notes Favorite {{i+1}}</b></p>
    <table border="0">
      <tr>
        <td><label for="judulText">Judul</label></td>
        <td>: {{item[0]}}</td>
      </tr>
      <tr>
        <td><label for="isiText">Isi</label></td>
        <td>: {{item[1]}}</td>
      </tr>
      <tr>
        <td><label for="tanggalBro">Tanggal</label></td>
        <td>: {{item[2]}}</td>
      </tr>
    </table>
  </div>
</ion-content>
